
.seca{
    padding: 2em;
    margin-bottom: -200x;
}
h1{
    padding-top: 50px;
}

.skillset div{
border: 1px black solid;
}

.skillbox h3{
    padding-top: 20px;

}
.skillbox p{
  padding-bottom: 80px;
}

/* #sectionb{
    margin-top: -10px;
    margin-bottom: 500px;
    background: lightslategrey;
}




p{
    line-height: 1.5em;
    word-spacing: 0.3em;
    margin-bottom: -130px;
    color: purple;
}   */