#nav{
    margin: 0;
    background: lightslategray;
    height: 80px;
    font-size: x-large;
    margin-bottom: 0px;
}

ul{
    margin: 0;
    text-align: right;
    text-decoration: none;
    padding-top: 1em;
}

 li{
    display: inline;
    margin: 0;
    padding-right: 1em;
    list-style: none;
    color: #333;
}

.navbarContainer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    word-wrap: break-word;
}

/* footer{
    background-color: grey;
    padding: 1em;
} */